@import '../colors.css';

.b-dnd {
	display: inline-block;
	flex: 0 0 auto;
	max-width: 200px;
	margin-right: 30px;
	word-break: break-all;

	&__download {
		margin-bottom: 10px;
	}

	input {
		display: none;
	}

	.b-hint {
		font-size: 12px;
		line-height: 18px;
		color: var(--grey3);
	}
}
