@import '../colors.css';
@import '../media.css';

.b-results {
	&__item {
		display: flex;
		height: 785px;
		margin-bottom: 60px;
		box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.5);
		background-color: var(--white);

		@media (--max1600) {
			height: 690px;
		}

		@media (--max1440) {
			height: 560px;
		}

		@media (--max1366) {
			height: 510px;
			margin-bottom: 30px;
		}

		&--right {
			.b-results__item-content {
				padding: 80px;

				@media (--max1440) {
					padding: 30px 40px;
				}

				@media (--max1366) {
					padding: 40px 50px;
				}
			}

			.b-results__item-sidebar > * {
				flex: 0 0 33.333% !important;
			}
		}
	}

	&__item-sidebar {
		display: flex;
		flex-direction: column;
		width: 100px;

		@media (--max1600) {
			width: 70px;
		}

		.b-side-title {
			flex: 0 0 50%;
		}
	}

	&__item-content {
		width: 100%;
		padding: 10px 10px 30px 30px;

		@media (--max1366) {
			padding: 10px 20px;
			padding-right: 10px;
		}

		.ScrollbarsCustom {
			height: calc(100% - 55px) !important;
		}
	}
}
