@import '../colors.css';
@import '../media.css';

.b-results {
	&__item {
		display: flex;
		height: 785px;
		margin-bottom: 60px;
		background-color: var(--white);

		@media (--max1600) {
			height: 690px;
		}

		@media (--max1366) {
			height: 530px;
			margin-bottom: 40px;
		}
	}

	&__item-sidebar {
		display: flex;
		flex-direction: column;
		width: 100px;

		@media (--max1600) {
			width: 70px;
		}

		.b-side-title {
			flex: 0 0 50%;
		}
	}

	&__item-content {
		width: 100%;
		padding: 20px 30px;
		padding-right: 10px;

		@media (--max1366) {
			padding: 10px 20px;
			padding-right: 10px;
		}
	}
}
