@import '../colors.css';
@import '../media.css';

.b-side-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--white);
	background-color: var(--red);

	@media (--max1600) {
		font-size: 12px;
	}

	&__text {
		display: block;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}
}
