@import '../colors.css';
@import '../media.css';

.b-side-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 50%;
	border: none;
	cursor: pointer;
	background-color: var(--grey4);

	&.inverse {
		transform: rotate(180deg);

		&:hover {
			img {
				transform: translateY(10px) rotate(180deg) translateZ(0);
				transition: ease 0.3s;
			}
		}

		img {
			margin-top: 8px;
			transform: rotate(180deg) translateZ(0);
		}
	}

	&:hover {
		img {
			transform: translateY(-10px);
			transition: ease 0.3s;
		}
	}

	&__inner {
		display: block;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		writing-mode: vertical-rl;
		transform: rotate(180deg);

		@media (--max1600) {
			font-size: 12px;
		}

		img {
			margin-bottom: 8px;
			transition: ease 0.3s;

			@media (--max1600) {
				width: 10px;
			}
		}
	}
}
