@import '../colors';

.b-table {
	padding-right: 15px;

	&__header {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 600;
		color: var(--grey3);
	}

	&__body {
		font-size: 12px;
		font-weight: 500;
		color: var(--grey2);

		.b-table__cell {
			line-height: 18px;
		}
	}

	&__line {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			border-bottom: 1px solid var(--grey4);
		}
	}

	&__cell {
		display: flex;
		align-items: center;
		padding: 15px;

		&--number {
			width: 3%;
		}
		&--name {
			width: 14%;
		}

		&--count,
		&--uhom,
		&--phom,
		&--pv,
		&--phompv,
		&--psum,
		&--ki,
		&--cos,
		&--tg {
			width: 9.2%;
		}
	}
}
