@import '../colors';
@import '../media';

.b-table {
	padding-right: 15px;

	&__header {
		display: flex;
		align-items: center;
		height: 55px;
		padding-right: 10px;
		font-size: 16px;
		font-weight: 600;
		color: var(--grey3);
		box-shadow: 0 5px 15px -13px rgba(0, 0, 0, 0.5);

		@media (--max1600) {
			font-size: 14px;
		}

		.b-table__cell {
			padding-bottom: 22px;
		}
	}

	&__body {
		font-size: 12px;
		font-weight: 500;
		color: var(--grey2);

		.b-table__cell {
			line-height: 18px;
		}
	}

	&__line {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			border-bottom: 1px solid var(--grey4);
		}
	}

	&__cell {
		display: flex;
		align-items: center;
		padding: 15px;

		&--number,
		&--count {
			width: 9%;
		}
		&--name {
			width: 24%;
		}

		&--uhom,
		&--phom,
		&--psum,
		&--ki,
		&--cos,
		&--tg {
			width: 9.6%;
		}
	}

	.b-complex {
		&__item {
			@media (--max1600) {
				display: block;
			}
		}
	}
}
