@import 'normalize.css';
@import './colors.css';
@import './media.css';

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	height: 100%;
}

body {
	min-width: 1280px;
	font-family: 'Roboto', 'Arial';
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	overflow-x: hidden;
	color: var(--grey1);
	background-color: var(--black);
}

h1,
h2,
h3,
h4 {
	margin: 0;
	font-weight: 600;
}

h1 {
	font-size: 38px;
	color: var(--white);

	@media (--max1600) {
		font-size: 30px;
	}
}

img {
	max-height: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
